body {
    font-family: Cambria, Georgia, 'Time New Roman', sans, sans-serif !important;
    background: -moz-radial-gradient(coral, rgba(215, 136, 107, 0.778))
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
    color: orange;
}
p {
    text-align: justify;
    font-size: 18px;
}
a:hover {
    transition-duration: 1.5s;
    color: orangered;
    text-decoration: underline orangered;
}
a[role="button"] {
    background-size: 50px;
    /* background-color:rgba(255, 226, 80, 0.208); */
    background: -moz-linear-gradient(deg(90), coral, rgba(255, 127, 80, 0.379));
    background-clip: content-box;
    background-attachment: fixed;
    border: 0.5px red solid;
    border-radius: 4px;
    text-box-edge: 3px;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#page {
    background-color: rgba(189, 93, 15, 0.695);
    width: 500px;
    margin: 5px auto;
    height:90%;
    padding-bottom: 40px;
}
hr.divider {
    inline-size: 20px;
    margin: 2px auto 5px auto;
}
