body {
    font-family: Cambria, Georgia, 'Time New Roman', sans, sans-serif !important;
    background: -moz-radial-gradient(deg(45), coral, rgba(215, 136, 107, 0.778))
}

a {
    text-decoration: none;
    color: orange;
}
p {
    text-align: justify;
    font-size: 12px;
}
a:hover {
    transition-duration: 1.5s;
    color: orangered;
    text-decoration: underline orangered;
}
a[role="button"] {
    background-size: 50px;
    background-color:rgba(255, 226, 80, 0.208);
    background: -moz-linear-gradient(deg(90), coral, rgba(255, 127, 80, 0.379));
    background-clip: content-box;
    background-attachment: fixed;
    border: 0.5px red solid;
    border-radius: 4px;
}