.span-right {
    text-align: right;
}
.italic {
    font-style: italic;
}
footer {
    mask-mode: luminance;
    position: fixed bottom;
}
footer:hover {
    mask-mode: none;
}
.table-div {
    background-color: rgba(104, 12, 4, 0.591) !important;
}
#page {
    background: rgba(189, 93, 15, 0.695);
    width: 500px;
    margin: 5px auto;
    height:90%;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 10px;
    border: 1px rgba(224, 86, 32, 0.884) dashed;
}
body {
    background: linear-gradient(deg(35), orange, yellow);
}