#page {
    width: 700px;
    margin: 0px auto;
    background:-moz-linear-gradient(orange, orangered);
}
hr.divider {
    size: 2px;
    margin: 3px 2px 5px 2px;
}
body {
    font-family: Cambria, Georgia, 'Time New Roman', sans, sans-serif !important;
}
a[role="button"] {
    color: orange;
    background-size: 50px;
    /* background-color:rgba(255, 226, 80, 0.208); */
    background: -moz-linear-gradient(deg(90), coral, rgba(255, 127, 80, 0.379));
    background-clip: content-box;
    background-attachment: fixed;
    border: 0.5px red solid;
    border-radius: 4px;
    text-box-edge: 3px;
    padding: 4px;
    margin-left: 10px;
    text-decoration: none;
}
p {
    text-align: justify;
    size: 18px;
}
.underline {
    text-decoration: underline;
}
ul > ul > li {
    list-style:circle;
}
h1 {
    text-align: center;
}
figure {
    padding-left: auto;
    padding-right: auto;
}
img {
    display: block;
    width: 150px;
    border-radius: 15px;
    margin: 0px auto;
}
#Fleur {
    font-style: italic;
}
figcaption {
    margin: 5px auto 10px auto;
}